.main {
  display: grid;
  grid-template-columns: minmax(290px, 320px) 1fr;
}

.content {
  padding: 16px 24px;
}

.header {
  width: 100%;
  padding: 16px;
  box-shadow: inset 0 calc(max(1px, 0.0625rem)) #30363d;

  &__container {
    display: grid;
    grid-template-columns: 32px 70%;
    align-items: center;
    gap: 16px;
  }

  &__logo {
    width: 100%;
    height: 32px;
    border-radius: 50%;
    background: #e6edf3;
  }
}
