:root {
  --Primary_Font_Family: 'Inter', sans-serif;

  --Primary_Color: #fff;
  --Darkened_Color: #7d8590;

  --Primary_Background: #0d1117;

  --Primary_Border_Color: #30363d;
  --Accent_Border_Color: #2f81f7;
}
